h1 {
    border-style: dotted;
    border-width: 5px;
    border-color: white;
    display: inline;
    border-radius: .7em;
    padding: .2em;
    margin-left: 14%;
    color: rgb(182, 182, 182)
} 
p {
    border-style: dotted;
    border-width: 5px;
    border-color: white;
    display: inline;
    border-radius: .7em;
    padding: .2em;
    color: rgb(182, 182, 182);
    font-size: 20px;
}
header {
    padding: 3%;
}
.square {
    height: 3.5em;
    width: 3.5em;
}
.game-column {
    display: inline-block;
}
body {
    background: linear-gradient(rgba(164, 67, 255, 0), rgb(108, 218, 255) 87%, rgb(53, 133, 53) 88%, rgb(117, 54, 3) 93%) no-repeat center fixed;
    background-size: cover;
}
.game {
    top: 40.75px;
    bottom: 0px;
}
.board {
    bottom: 12%;
    width: 100%;
    text-align: center;
}
#bird {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://vignette.wikia.nocookie.net/puffleville/images/2/26/Yellow_Bird_Sprite.png/revision/latest?cb=20120504215330");
}
.box {
    background-image: url("../img/crate.jpg");
    background-size: 100%;
}
button {
    display: inline-block;
    height: 50px;
    width: 100px;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left: 0; 
    right: 0;
    margin-top: 10em;
    border-radius: 1.5em;
}
.retry {
    margin-top: 10em;
}
.game-over {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    left: 0; 
    right: 0;
}
.coin{
    background-image: url("../img/up-arrow.gif");
    background-size: 100%;
}
.missle {
    background-image: url('../img/bullet.png');
    background-size: 100%;
    background-repeat: no-repeat;
}





